.history-video-list{
    padding-top: 5%;
    text-align: left;
    margin-left: 20%;
    font-size: 1.5em;
}

.history-video-template{
    width: 55%;
    height: 7em;
    display: flex;
    /* justify-content: space-around; */
}

.history-video-screen{
    width: 65%;
    height: 80%;
    margin-top: 1%;
    border-radius: 0.25em;
}

.history-video-info h4{
    width: 90%;
    font-weight: 400;
    font-size: 0.8em;
    margin-left: 4%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.history-video-info p{
    font-size: 0.5em;
    margin-left: 4%;
}