
.register-container{
    height: 1300px;
}

.label{
    margin-bottom: 0%;
    text-align: start;
    width: 80%;
    margin: auto;
}

.register-email-phone{
    height: 5%;
    border-radius: 0.5em;
}

.dob-divs-container{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.dob-divs{
    width: 17%;
    height: 100%;
    margin: 0% 7% 5% 7%;
}

.dob-divs input{
    width: 100%;
    height: 100%;
    outline-color: blue;
    border-radius: 0.5em;
}

.confirm-password{
    margin-bottom: 0%;
}

.show-password{
    margin-right: 50%;
}

.privacy-terms-checkbox{
    margin-right: 50%;
    margin-top: 5%;
}

.privacy-terms{
    font-size: 0.8em;
    text-align: left;
    width: 70%;
    margin-left: 10%;
}

.blue-text{
    color: blue;
    font-weight: 500;
}